.mn-table-list td {
  display: none;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;

  &:first-child, &.sm-visible {display: flex}

  @include layout-sm {
    & + td {
      display: flex;
    }
  }
}
