.mn-item {
  border: 0;
  border-top: 1px solid $oc-gray-3;
  color: inherit;
  text-decoration: none;
  outline: 0;
  background: none;
  font-size: inherit;
  width: 100%;
  text-align: inherit;
  line-height: 1.4em;
  cursor: pointer;
  flex-wrap: wrap;
  transition: background-color .2s ease;

  &:first-child {border-top: 0}
  &:not(.detail-visible) {
    &:hover, &:focus {
      background-color: $oc-gray-3;
    }
  }

  &.detail-visible {
    cursor: default;

    & > .mn-item-detail {
      max-height: 1000px;
    }
  }
}
