.mn-list {
  header, .item {
    padding: 1.6em 2em;
    box-sizing: border-box;
    display: flex;
  }

  .item {
    border-top: 1px solid #f0f0f0;
    color: inherit;
    text-decoration: none;

    &:first-child {border: 0}

    &[href]:not(.active) {
      transition: background-color .2s ease;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    // &.active {
    //   cursor: default;
    //   pointer-events: none;
    // }
  }

  .item[href]:hover + .item-detail {
    max-height: 1000px;
    // margin-bottom: 1.6em;
  }

  .item-detail {
    padding: 0 2em;
    max-height: 0;
    transition: all .3s ease;
    overflow: hidden;
    transform: translateZ(0);
    will-change: max-height;
  }

  header > * {
    color: silver;
    font-weight: normal;
    margin: 0;
  }

  header > *, .item > * {
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    word-break: break-all;

    &:first-child, &.sm-visible {display: flex}

    @include layout-sm {
      & + td, & + * {
        display: flex;
      }
    }
  }

}
