.mn-table-list {
  header, .mn-item {
    padding: 1.6em 2em;
    box-sizing: border-box;
    display: flex;
  }

  .mn-item {
    border-top: 1px solid rgb(222, 226, 230);
    color: inherit;
    text-decoration: none;
    outline: 0;

    &:first-child {border: 0}

    &[href]:not(.active) {
      transition: background-color .2s ease;

      &:hover, &:focus {
        background-color: rgb(206, 212, 218);
      }
    }
  }

  .mn-item.active + .mn-item-detail {
    max-height: 1000px;
    padding: 1.6em 2em;
  }

  .mn-item-detail {
    padding: 0 2em;
    max-height: 0;
    overflow: hidden;
    transform: translateZ(0);
  }

  header > * {
    color: rgb(173, 181, 189);
    font-weight: normal;
    margin: 0;
  }

  header > *, .mn-item > * {
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    word-break: break-all;

    &:first-child, &.sm-visible {display: flex}

    @include layout-sm {
      & + td, & + * {
        display: flex;
      }
    }
  }

}
