html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  title mn-table-list
  base(href='/')
    
  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-table-list.css')

  style.
    .demo {width: 100%}
    .demo .mn-card {
      margin: 1em auto;
      display: block;
      width: 100%;
    }

body
  h2 mn-table-list
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered    
    .demo.mn-layout-column.mn-layout-sm-row
      .mn-card.padding-title.flex-sm-50.flex-md-60
        h2 Lorem ipsum
        .mn-table-list
          //- header
            h3 name
            h3 email 
          .mn-item
            span.flex John Snow
            span.flex john@snow.com
            //- span.flex-5: button X
            .mn-item-detail
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

              .mn-table-list
                .mn-item
                  span test
                  .mn-item-detail 
                    p detail lorem ipsum

                .mn-item
                  span test 2
                  .mn-item-detail 
                    p detail lorem ipsum 2

                .mn-item
                  span test 3 
                  .mn-item-detail 
                    p detail lorem ipsum 3
                    .mn-table-list
                      .mn-item
                        span test
                        .mn-item-detail detail lorem ipsum

                      .mn-item
                        span test
                        .mn-item-detail detail lorem ipsum

          .mn-item
            span.flex Daenerys Targaryen
            span.flex daenerys@targaryen.com
            .mn-item-detail
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

          .mn-item
            span.flex Tyrion Lannister
            span.flex tyrion@theimp.com
            .mn-item-detail
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

          .mn-item
            span.flex Tyrion Lannister
            span.flex tyrion@theimp.com
            .mn-item-detail
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
              p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

  .docs.mn-layout-container
    mn-code.sh.
      # to install this module
      npm install --save mn-table-list

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p Just use the class <strong class="attribute">.mn-table-list</strong> in a div, and inside of them, <strong class="attribute">.mn-item</strong>.
    mn-code.
      <div class="mn-table-list">
        <div class="mn-item">
          <span>John Snow</span>
          <span>snow@iknownothing.com</span>
        </div>
      </div>

    p If you want a header, just use the tag header before items, each title need be h1, h2, ... h6, e.g.
    mn-code.
      <div class="mn-table-list">
        <header>
          <h2>Name</h2>
          <h2>Email</h2>
        </header>
        <!-- .mn-item's here -->
      </div>

    h3 responsive
    p In screens smaller than 600px, only the first content of in every .mn-item will be displayed. If you want force to always be visible, use the class <strong class="attribute">.sm-visible</strong>, in titles or .mn-items's, e.g.
    mn-code.
      <div class="mn-table-list">
        <header>
          <h2>Name</h2>
          <h2 class="sm-visible">Email</h2>
        </header>
        <div class="mn-item">
          <span>John Snow</span>
          <span class="sm-visible">snow@iknownothing.com</span>
        </div>
      </div>


  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-table-list.js')
