html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  title mn-table-list
  base(href='/')
    
  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-table-list.css')

  style.
    .demo {width: 100%}
    .demo .mn-card {
      margin: 1em auto;
      display: block;
      width: 100%;
    }

body
  h2 mn-table-list
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered    
    .demo.mn-layout-column.mn-layout-sm-row
      .mn-card.padding-title.flex-sm-50.flex-md-60
        h2 Lorem ipsum
        .mn-table-list
          a.mn-item(href='#' close-dialog)
            span John Snow

          a.mn-item(href='#' close-dialog)
            span Daenerys Targaryen

          a.mn-item(href='#' close-dialog)
            span Tyrion Lannister

  .docs.mn-layout-container
    mn-code.sh.
      # to install this module
      npm install --save mn-table-list

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.    

  block scripts
    script(src='docs/vendor.js')
