html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-table-list.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .container {
      max-width: 1070px;
      margin: 0 auto;
    }

body
  h1 Minimalist table list

  h2 .mn-table-list

  .container
    .mn-list
      header
        h3 Nome
        h3 Email

      .item Khal Drogo

      a.item(href='#')
        span John Snow
        span snow@iknownothing.com

      a.item(href='#')
        span Khaleesi
        span motherofdragons@targaryen.com
  
