html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-table-list.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .container {
      max-width: 1070px;
      margin: 0 auto;
    }

body
  h1 Minimalist table list

  h2 .mn-table-list

  .container
    table.mn-table-list
      thead: tr
        td Nome
        td Email

      tbody
        tr
          td John Snow
          td snow@iknownothing.com

        tr
          td Khaleesi
          td motherofdragons@targaryen.com
  
